<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://gitlab.com/beescreens/beescreens" class="btn">View on GitLab</a>
  <a href="https://gitlab.com/beescreens/beescreens/-/archive/master/beescreens-master.zip" class="btn">Download .zip</a>
  <a href="https://gitlab.com/beescreens/beescreens/-/archive/master/beescreens.tar.gz" class="btn">Download .tar.gz</a>
</section>
